$this: '.Switch';

@mixin size ($name, $height, $font-size) {
  &_size_#{$name} {
    &#{$this}_variant_default {
      font-size: $font-size;
      line-height: $font-size;

      #{$this}__element {
        height: $height;
        width: ($height * 1.8);
        border-radius: ($height / 2);

        &:before {
          width: ($height - 4);
          height: ($height - 4);
        }
      }

      #{$this}__label {
        margin-top: ($height - $font-size) / 2;
      }
    }
  }
}

@mixin color ($name, $color) {
  &_color_#{$name} {
    &#{$this}_variant_button {
      #{$this}__container {
        background-color: $palette-grey-200;
      }

      &.--checked {
        #{$this}__container {
          background-color: $color;
          color: white;
        }
      }
    }

    &.--checked {
      #{$this}__element {
        background-color: $color;
        border-color: $color;
      }
    }

    &.--invalid {
      #{$this}__element {
        border-color: $palette-red;
      }
    }
  }
}
