@import '../variables';
@import './mixins.scss';

$this: '.Switch';

#{$this} {
  &__container {
    box-sizing: border-box;
    display: inline-flex;
    vertical-align: top;
    position: relative;
    transition: 100ms ease-out;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }

  &__element {
    flex-shrink: 0;
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid $palette-grey-400;
    background-color: $palette-grey-100;
    position: relative;
    transition: 100ms ease-out;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      background-color: white;
      border-radius: 50%;
      box-shadow: $shadow-1;
      transition: 100ms ease-out;
    }
  }

  &__label {
    &_position {
      &_start {
        order: -1;
      }
    }
  }

  &_variant_default {
    #{$this}__label {
      &_position {
        &_start {
          margin-right: 10px;
        }

        &_end {
          margin-left: 10px;
        }
      }
    }
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    opacity: 0;
  }

  @include size('s', 20px, 16px);
  @include size('m', 22px, 18px);
  @include size('l', 24px, 20px);

  @include color('default', $palette-primary);

  &.--checked {
    #{$this}__element:before {
      left: 100%;
      transform: translateX(-100%);
    }
  }

  &.--disabled {
    opacity: .5;

    #{$this}__container {
      cursor: default;
    }
  }
}
