@import '../variables';
@import './mixins.scss';

$this: '.Modal';

#{$this} {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  overflow-y: auto;

  &__container {
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  &__overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.4);
    animation: Dialog__overlay 300ms ease-out;
  }

  &__window {
    box-sizing: border-box;
    position: relative;
    max-width: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0,0,0,.15);
    animation: Dialog__window 300ms ease-out;
  }

  &__image {
    display: block;
    margin: 0 auto 15px;
    height: 100px;
  }

  &__title {
    font-size: 18px;
    line-height: 1.1;
    font-weight: 700;
    margin: 0 30px 15px 0;
  }

  &__footer {
    margin-top: 15px;
    text-align: center;
  }

  &__ok {
    min-width: 120px;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    background-color: $palette-grey-200;
    border-radius: 50%;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    &_outside {
      position: fixed;
      width: 30px;
      height: 30px;
    }

    &:hover {
      background-color: $palette-grey-300;
    }

    &:before, &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 1.3px;
      height: 50%;
      background-color: currentColor;
    }

    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &__progress {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 50px;
    height: 50px;
  }

  &_alert {
    text-align: center;

    #{$this}__window {
      padding-top: 40px;
    }

    #{$this}__title {
      margin-right: 0;
    }
  }

  @include size('s', 360px);
  @include size('m', 480px);
  @include size('l', 840px);
  @include size('xl', 980px);

  @media (max-width: $width-tablet - 1) {
    &_blind {
      #{$this}__container {
        padding: 0;
        align-items: flex-end;
      }

      #{$this}__window {
        width: 100%;
        border-radius: 20px 20px 0 0;
        animation: Blind__window 300ms ease-out;
      }
    }
  }

  @media (min-width: $width-tablet) {
    &__container {
      padding: 30px;
    }
  }

  @keyframes Dialog__overlay {
    0% {
      opacity: 0;
    }
  }

  @keyframes Dialog__window {
    0% {
      opacity: 0;
      transform: scale(0.3);
    }
  }

  @keyframes Blind__window {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
  }
}
