@import '../variables';
@import 'mixins.scss';

$this: '.Spin';
$offset: 90;
$duration: 1.5s;

#{$this} {
  display: inline-block;

  svg {
    vertical-align: top;
    width: 100%;
    height: 100%;
    animation: spinRotator $duration linear infinite;
  }

  circle {
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
    stroke: currentColor;
    transform-origin: center;
    animation: spinDash $duration ease-in-out infinite;
  }

  &_size {
    &_default {
      @include size(36px);
    }
  }

  @keyframes spinRotator {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @keyframes spinDash {
    0% { stroke-dashoffset: $offset; }
    50% {
      stroke-dashoffset: ($offset/5);
      transform:rotate(90deg);
    }
    100% {
      stroke-dashoffset: $offset;
      transform:rotate(360deg);
    }
  }
}
