@import '../variables';
@import './mixins.scss';

$this: '.Progress';

#{$this} {
  position: relative;

  &_variant {
    &_circle {
      width: 150px;
      height: 150px;

      svg {
        transform: rotate(-90deg);
        animation: Progress__circle 1s linear infinite;
      }

      #{$this}__value {
        font-size: 38px;
      }
    }

    &_line {
      height: 6px;
      overflow: hidden;
    }
  }

  svg {
    vertical-align: top;
    width: 100%;
    height: 100%;
  }

  &__circle {
    stroke: currentColor;

    &_1 {
      opacity: .3;
    }

    &_2 {
      transition: 300ms ease-out;
    }
  }

  &__line {
    height: 6px;

    &_1 {
      opacity: .3;
    }

    &_2 {
      position: absolute;
      top: 0;
      left: 0;
      transition: 300ms ease-out;
      animation: Progress__line 1s linear infinite;
    }
  }

  &__value {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-family: Helvetica;
    color: $palette-primary-text;
  }

  @include color('default', $palette-primary);

  @keyframes Progress__circle {
    100% { transform: rotate(270deg); }
  }

  @keyframes Progress__line {
    0% {
      transform: translateX(-100%);
    }
    100% {
      left: 100%;
      transform: translateX(0);
    }
  }
}
