@import '../variables';

$this: '.Camera';

#{$this} {
  position: relative;
  color: white;
  background-color: black;

  &:focus {
    outline: none;
  }

  &_fullscreen {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    transform: translateX(100%);
    transition: 300ms;

    &.--opened {
      transform: translateX(0);
    }
  }

  &__video {
    vertical-align: top;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &-container {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
    }
  }

  &__progress {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
  }

  &__snapshot {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__side {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    text-align: center;

    &_left {
      left: 0;
    }

    &_right {
      right: 0;
    }
  }

  &__control {
    box-sizing: border-box;
    display: block;
    margin: 10px auto;
    width: 50px;
    height: 50px;
    color: white;
    border: 1px solid rgba(255,255,255,.5);
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    &_capture {
      background-color: white;
      box-shadow: 0 0 0 8px rgba(255,255,255,.5);

      &.--animated {
        animation: Camera__control-capturing 1s linear infinite;
      }
    }

    &-icon {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 25%;
    }
  }

  &__close {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 24px;
    height: 24px;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      right: 0;
      border-top: 3px solid white;
      border-radius: 3px;
      transform: translateY(-50%);
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 60%;
      height: 60%;
      border-style: solid;
      border-color: white;
      border-width: 0 0 3px 3px;
      border-radius: 3px;
      transform: translateY(-50%) rotate(45deg);
    }
  }

  @media (min-width: $width-tablet), print {
    &__control {
      width: 64px;
      height: 64px;
    }
  }

  @keyframes Camera__control-capturing {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}
