@import '../variables';
@import './mixins.scss';

$this: '.Grid';

#{$this} {
  &Container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;

    &:empty {
      display: none;
    }

    @for $i from 0 through 32 {
      @include spacing($i * 2);
    }

    &_align {
      &_left {
        justify-content: flex-start;
      }

      &_center {
        justify-content: center;
      }

      &_right {
        justify-content: flex-end;
      }
    }

    &_valign {
      &_top {
        align-items: flex-start;
      }

      &_center {
        align-items: center;
      }

      &_bottom {
        align-items: flex-end;
      }
    }
  }

  &Item {
    box-sizing: border-box;

    &:empty {
      padding: 0;
    }

    &_full {
      width: 100%;
    }

    @for $i from 1 through 12 {
      &_mobile_#{$i} {
        flex-grow: 0;
        width: (100% / 12 * $i);
      }
    }
  }

  @media (min-width: $width-tablet), print {
    &Item {
      @for $i from 1 through 12 {
        &_tablet_#{$i} {
          flex-grow: 0;
          width: (100% / 12 * $i);
        }
      }
    }
  }

  @media (min-width: $width-desktop) {
    &Item {
      @for $i from 1 through 12 {
        &_desktop_#{$i} {
          flex-grow: 0;
          width: (100% / 12 * $i);
        }
      }
    }
  }
}
