@import '../variables';

$this: '.Calendar';

#{$this} {
  width: (40px * 7);
  padding: 16px;
  font-size: 14px;
  background-color: white;

  &__cells {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    max-height: (40px * 6);
    overflow-y: auto;

    &_header {
      justify-content: space-between;
    }

    &_weekdays {
      padding: 10px 0;
      margin-bottom: 20px;
      border-bottom: 1px solid $palette-grey-400;
      opacity: .6;
    }
  }

  &__cell {
    box-sizing: border-box;
    display: block;
    text-align: center;
    padding: 3px;

    &_type {
      &_day, &_weekday {
        width: (100% / 7);
      }

      &_month {
        width: (100% / 3);
      }

      &_year {
        width: (100% / 4);
      }
    }

    &-button {
      min-width: 34px;
      height: 34px;
      font-size: 16px;
      text-align: center;
      border-radius: 4px;
      border: none;
      background: none;
      border-radius: 17px;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;

      &:focus {
        outline: none;
      }

      &:hover:not(&_disabled):not(&_selected) {
        background-color: $palette-grey-200;
      }

      &_light {
        opacity: .5;
      }

      &_selected {
        color: white;
        background-color: $palette-primary-text;
      }

      &_disabled {
        opacity: .3;
        cursor: default;
      }
    }
  }
}
