@import '../variables';
@import './mixins.scss';

$this: '.Button';

#{$this} {
  box-sizing: border-box;
  display: inline-block;
  font-family: inherit;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
  color: inherit;
  background: none;
  border: 1px solid transparent;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  text-shadow: none;
  user-select: none;
  -webkit-appearance: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }

  &_circular {
    border-radius: 50%;
  }

  &_full-width {
    width: 100%;
  }

  &__progress-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    &_centered {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &_hidden {
      opacity: 0;
    }
  }

  @include size('s', 40px, 16px);
  @include size('m', 50px, 18px);
  @include size('l', 60px, 20px);

  @include color('default', $palette-primary);

  &_disabled {
    cursor: default;
    pointer-events: none;
    opacity: .5;
  }
}
