$this: '.Button';

@mixin size ($name, $height, $font-size) {
  &_size_#{$name} {
    $innerHeight: $height - 2;
    $vertical-padding: ($innerHeight - $font-size) / 2;

    min-height: $height;
    min-width: $height;
    padding: $vertical-padding ($innerHeight / 2);
    font-size: $font-size;

    &#{$this}_rounded {
      border-radius: ($height / 2);
    }

    #{$this}__progress {
      width: ($height * .6);
      height: ($height * .6);
    }
  }
}

@mixin color ($name, $color, $text-color: null) {
  $lightness: lightness($color);

  &_color_#{$name} {
    &#{$this}_variant {
      &_default {
        @if $text-color {
          color: $text-color;
        } @else {
          @if $lightness > 70% {
            color: black;
          } @else {
            color: white;
          }
        }

        @include colorVariantDefault($color);
      }

      &_text, &_outlined {
        @if $text-color {
          color: $text-color;
        } @else {
          color: $color;
        }
      }

      &_text {
        @include colorVariantText($color);
      }

      &_outlined {
        @include colorVariantOutlined($color);
      }
    }
  }
}

@mixin colorVariantDefault ($color, $amount: 0) {
  $_color: darken($color, $amount);
  $lightness: lightness($_color);

  @if $lightness == 100% or $lightness == 0% {
    background-color: $color;
  } @else if $lightness < 45% {
    background-color: $color;

    &:hover {
      background-color: darken($color, $amount);
    }

    &:active {
      background-color: darken($color, $amount * 1.8);
    }
  } @else {
    @include colorVariantDefault($color, $amount + 1);
  }
}

@mixin colorVariantText ($color, $amount: 0) {
  $_color: lighten($color, $amount);
  $lightness: lightness($_color);

  @if $lightness == 100% or $lightness == 0% {
  } @else if $lightness > 90% {
    &:hover {
      background-color: lighten($color, $amount);
    }

    &:active {
      background-color: lighten($color, $amount * .8);
    }
  } @else {
    @include colorVariantText($color, $amount + 1);
  }
}

@mixin colorVariantOutlined ($color, $amount: 0) {
  $_color: lighten($color, $amount);
  $lightness: lightness($_color);

  @if $lightness == 100% or $lightness == 0% {
    border-color: $color;
  } @else if $lightness > 90% {
    border-color: lighten($color, $amount * .8);

    &:hover {
      border-color: lighten($color, $amount * .6);
      background-color: lighten($color, $amount);
    }

    &:active {
      border-color: lighten($color, $amount * .4);
      background-color: lighten($color, $amount * .8);
    }
  } @else {
    @include colorVariantOutlined($color, $amount + 1);
  }
}
