$this: '.Button';

@mixin size ($name, $height, $font-size) {
  &_size_#{$name} {
    $innerHeight: $height - 2;
    $vertical-padding: ($innerHeight - $font-size) / 2;

    min-height: $height;
    min-width: $height;
    padding: $vertical-padding ($innerHeight / 2);
    font-size: $font-size;

    &#{$this}_rounded {
      border-radius: ($height / 2);
    }

    #{$this}__progress {
      width: ($height * .6);
      height: ($height * .6);
    }
  }
}

@mixin color ($name, $color, $text-color: null) {
  $lightness: lightness($color);

  &_color_#{$name} {
    &#{$this}_variant {
      &_default {
        background-color: $color;

        @if $text-color {
          color: $text-color;
        } @else {
          @if $lightness > 70% {
            color: black;
          } @else {
            color: white;
          }
        }

        @media (hover: hover) {
          @if $lightness > 40% {
            &:hover {
              background-color: darken($color, 5%);
            }

            &:active {
              background-color: darken($color, 8%);
            }
          } @else {
            &:hover {
              background-color: lighten($color, 5%);
            }

            &:active {
              background-color: lighten($color, 8%);
            }
          }
        }
      }

      &_text, &_outlined {
        @if $text-color {
          color: $text-color;
        } @else {
          color: black;
        }

        //@media (hover: hover) {
        //  &:hover, &:active {
        //    @if $text-color {
        //      color: $text-color;
        //    } @else {
        //      @if $lightness > 70% {
        //        color: black;
        //      } @else {
        //        color: white;
        //      }
        //    }
        //  }
        //
        //  &:hover {
        //    background-color: $color;
        //  }
        //
        //  &:active {
        //    background-color: darken($color, 1.5);
        //  }
        //}
      }

      &_outlined {
        border-color: $color;
      }
    }
  }
}
