$palette-primary-text: #172A3F;
$palette-secondary-text: #6D7986;
$palette-tetriary-text: #B5BBC2;
$palette-primary: #398DFA;
$palette-red: #F04539;
$palette-grey-50: #FAFAFB;
$palette-grey-100: #F4F4F5;
$palette-grey-200: #E8EAEC;
$palette-grey-300: #D8D8D8;
$palette-grey-400: #ADB4BA;

$shadow-1: 0 3px 5px 0 rgba(128,128,128,.2);
$shadow-2: 0 5px 20px 0 rgba(128,128,128,.1);

$width-mobile: 320px;
$width-tablet: 640px;
$width-desktop: 960px;
