@import '../variables';
@import './mixins.scss';

$this: '.Input';

#{$this} {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-style: solid;
    opacity: .5;
    border-radius: inherit;
    transition: 200ms;
  }

  &__container {
    flex-grow: 1;
    position: relative;
  }

  &__element {
    box-sizing: border-box;
    width: 100%;
    border: none;
    box-shadow: none;
    background: none;
    resize: none;
    font: inherit;
    line-height: 1;
    color: inherit;
    text-align: inherit;
    border-radius: inherit;
    position: relative;

    &:focus {
      outline: none;
    }

    &:disabled {
      opacity: 1;
    }

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      opacity: .5;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      opacity: .5;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      opacity: .5;
    }
    &:-moz-placeholder { /* Firefox 18- */
      opacity: .5;
    }

    &::-ms-clear {
      display: none;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 5000s;
    }

    &_fake {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__label {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    font: inherit;
    line-height: 1;
    text-align: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: .6;
    transition: 300ms;
  }

  &__adornment {
    &_start {
      margin-right: 10px;
    }

    &_end {
      order: 1;
      margin-left: 10px;
    }
  }

  &__icon {
    vertical-align: top;
    opacity: .6;
  }

  &__dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    transform: translateY(20px);
    background-color: white;
    box-shadow: $shadow-2;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 300ms;

    &.--visible {
      opacity: 1;
      visibility: visible;
      transform: translateY(5px);
    }

    &.--right {
      right: 0;
      left: unset;
    }
  }

  &__menu {
    overflow-y: auto;
    max-height: 250px;

    &-item {
      box-sizing: border-box;
      padding: 12px 16px;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;

      &.--selected {
        background-color: $palette-grey-200;
      }

      &-secondary {
        margin-top: 5px;
        font-size: 85%;
        opacity: .6;
      }
    }
  }

  &_type {
    &_area {
      #{$this}__element {
        position: absolute;
        left: 0;
        top: 0;
        padding: 0;
        height: 100%;
        overflow-y: auto;

        &_hidden {
          position: static;
          visibility: hidden;
          word-break: break-word;
        }
      }
    }
  }

  .input-range {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    &__track {
      position: relative;
      height: 2px;

      &--active {
        position: absolute;
        bottom: 0;
        background-color: $palette-primary;
      }
    }

    &__slider {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
      height: 20px;
      background-color: white;
      border-radius: 50%;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      box-shadow: 0 2px 5px rgba($palette-primary, .4);
      transition: 200ms;

      &:focus {
        outline: none;
      }

      &:active {
        transform: translate(-50%, -50%) scale(1.1);
      }

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        height: 60%;
        background-color: $palette-primary;
        border-radius: 50%;
        transition: inherit;
      }

      &-container {
        height: 100%;
      }
    }

    &__label {
      position: absolute;
      top: 100%;
      margin-top: 10px;
      opacity: .6;
      font-size: 14px;
      pointer-events: none;

      &--min {
        left: 0;
      }

      &--max {
        right: 0;
      }

      &--value {
        display: none;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  @include size('s', 40px, 16px);
  @include size('m', 50px, 18px);
  @include size('l', 60px, 20px);

  @include color('default', $palette-primary-text);

  &_variant {
    &_default:before {
      border-width: 0 0 1px;
    }

    &_outlined:before {
      border-width: 1px;
    }
  }

  &_type {
    &_plain:before {
      border: none;
    }

    &_date {
      #{$this}__dropdown {
        width: auto;
      }
    }
  }

  &.--focused {
    &:before {
      opacity: 1;
    }

    &#{$this}_variant {
      &_default:before {
        border-bottom-width: 2px;
      }
    }
  }

  &.--disabled {
    opacity: .5;
  }
}
