$this: '.Input';

@mixin size ($name, $height, $font-size) {
  &_size_#{$name} {
    $line-height: $font-size * 1.2;
    $vertical-padding: ($height - $line-height) / 2;
    $padding-top-labeled: ($height / 2.5);
    $padding-bottom-labeled: $height - $padding-top-labeled - $line-height;

    font-size: $font-size;

    &#{$this}_rounded {
      border-radius: ($height / 2);
    }

    #{$this}__element {
      min-height: $height;
      padding-top: $vertical-padding;
      padding-bottom: $vertical-padding;
      line-height: $line-height;
    }

    #{$this}__prefix, #{$this}__suffix {
      line-height: $line-height;
      margin-bottom: $vertical-padding;
    }

    #{$this}__progress {
      top: $vertical-padding;
      height: $line-height;
      width: $line-height;
    }

    &#{$this}_labeled {
      #{$this}__element {
        padding-top: $padding-top-labeled;
        padding-bottom: $padding-bottom-labeled;
      }

      #{$this}__prefix, #{$this}__suffix {
        margin-bottom: $padding-bottom-labeled;
      }
    }

    #{$this}__label {
      top: 0;
      line-height: $line-height;
      padding-top: $padding-top-labeled;
      padding-bottom: $padding-bottom-labeled;
    }

    &.--focused, &.--filled {
      #{$this}__label {
        padding-top: 0;
        font-size: 75%;
      }
    }

    #{$this}__icon {
      height: ($height * .5);
      width: ($height * .5);
    }
  }
}

@mixin color ($name, $color, $text-color: null) {
  @if $text-color == null {
    $text-color: $color;
  }

  &_color_#{$name} {
    color: $text-color;

    &:before {
      border-color: $color;
    }

    &.--invalid:before {
      border-color: $palette-red;
    }
  }
}
