$this: '.Input';

@mixin size ($name, $height, $font-size) {
  &_size_#{$name} {
    font-size: $font-size;

    &#{$this}_rounded {
      border-radius: ($height / 2);
    }

    &:not(#{$this}_type_area) #{$this}__element {
      height: $height;
      line-height: $height;
    }

    &#{$this}_type_area #{$this}__element {
      min-height: $height;
    }

    &#{$this}_labeled {
      &:not(#{$this}_type_area) #{$this}__element {
        $padding-top: ($height / 4);
        $element-height: $height - $padding-top;

        padding-top: $padding-top;
        line-height: $element-height;
      }

      &#{$this}_type_area #{$this}__element {
        $padding-top: ($height / 2.5);
        $line-height: ($font-size * 1.2);

        padding-top: $padding-top;
        padding-bottom: $height - $padding-top - $line-height;
        line-height: $line-height;
      }
    }

    #{$this}__label {
      $top: ($height / 4);
      $label-height: $height - $top;
      $padding-top: ($label-height - $font-size) / 2;

      top: $top;
      padding: $padding-top 0;
    }

    &.--focused, &.--filled {
      #{$this}__label {
        top: 0;
        padding: 1px 0;
        font-size: 75%;
      }
    }

    #{$this}__icon {
      height: ($height * .5);
      width: ($height * .5);
    }
  }
}

@mixin color ($name, $color, $text-color: null) {
  @if $text-color == null {
    $text-color: $color;
  }

  &_color_#{$name} {
    color: $text-color;

    &:before {
      border-color: $color;
    }

    &.--invalid:before {
      border-color: $palette-red;
    }
  }
}
